{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>index</th>
            <th>제목</th>
            <th>담당</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>*</td>
            <td><a href="/pybo/server/">Server chat</a></td>
            <td>서버</td>
        </tr>
        <tr>
            <td>*</td>
            <td><a href="/pybo/client/">Client chat</a></td>
            <td>클라이언트</td>
        </tr>
        <tr>
            <td>*</td>
            <td><a href="/pybo/channels/">Channels</a></td>
            <td>강희영</td>
        </tr>
        <tr>
            <td>*</td>
            <td><a href="/pybo/call_api/">API 호출22</a></td>
            <td>이동희</td>
        </tr>
        </tbody>
    </table>
<!--    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>-->
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">내 위치 찾기</a>
</div>

{% endblock %}